
@{
    ViewData["Title"] = "NotAuthorized";
}

<br />
<br />
<div class="text-center">
    <h2 class="text-center">You are not authorized to perform this action!</h2>
      <img  src="~/images/notauthorized.jpg" />

</div>


